[Unit]
Description=TeamSpeak3 Server
After=network.target

[Service]
Type=simple
User={{ teamspeak.user }}
Group={{ teamspeak.user }}
WorkingDirectory={{ teamspeak.home }}/{{ teamspeak.symlink }}
Environment='LD_LIBRARY_PATH="{{ teamspeak.home }}/{{ teamspeak.symlink }}:$LD_LIBRARY_PATH"'
ExecStart={{ teamspeak.home }}/{{ teamspeak.symlink }}/ts3server_minimal_runscript.sh

[Install]
WantedBy=multi-user.target
