[Unit]
Description=TeamSpeak3 Server
After=network.target

[Service]
Type=simple
User={{ teamspeak.user }}
Group={{ teamspeak.user }}
WorkingDirectory={{ teamspeak.home }}/teamspeak3-server_linux_amd64-{{ teamspeak.version }}/teamspeak3-server_linux_amd64
Environment='LD_LIBRARY_PATH="{{ teamspeak.home }}/teamspeak3-server_linux_amd64-{{ teamspeak.version }}/teamspeak3-server_linux_amd64/:$LD_LIBRARY_PATH"'
ExecStart={{ teamspeak.home }}/teamspeak3-server_linux_amd64-{{ teamspeak.version }}/teamspeak3-server_linux_amd64/ts3server_minimal_runscript.sh

[Install]
WantedBy=multi-user.target
