machine_id=
default_voice_port=9987
voice_ip=149.210.173.112
filetransfer_port=30033
filetransfer_ip=149.210.173.112
query_port=10011
query_ip=149.210.173.112

dbplugin=ts3db_mysql
dbpluginparameter=ts3db_mysql.ini
dbsqlpath=sql/
dbsqlcreatepath=create_mysql/
logpath=/var/log/teamspeak
logquerycommands=0

