default_voice_port={{ teamspeak_network.voice.default_port }}
voice_ip={{ teamspeak_network.voice.ip }}
filetransfer_port={{ teamspeak_network.filetransfer.port }}
filetransfer_ip={{ teamspeak_network.filetransfer.ip }}
query_port={{ teamspeak_network.query.port }}
query_ip={{ teamspeak_network.query.ip }}

{% if teamspeak_create_default_virtualserver %}
create_default_virtualserver=1
{% endif %}
{% if teamspeak_use_license and teamspeak_licensepath is not none %}
licensepath={{ teamspeak_licensepath }}/
{% endif %}
{% if teamspeak_machine_id is not none %}
machine_id={{ teamspeak_machine_id }}
{% endif %}

{% if teamspeak_db_plugin == 'mariadb' %}
dbplugin=ts3db_mariadb
dbpluginparameter={{ teamspeak_db_ini_filename }}
dbsqlpath=sql/
dbsqlcreatepath=create_mariadb/
query_skipbruteforcecheck=0
{% endif %}
